[2018-12-09 13:19] akosthekiss opened #2 "Assertion: byteindex + elementSize <= bytelength() in Escargot::Value Escargot::ArrayBufferView::getValueFromBuffer(Escargot::ExecutionState&, unsigned int, bool) [with Type = float]"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/). </sup>

[2018-12-12 10:09] #2 closed

[2018-12-14 07:30] clover2123 opened #9 "TC Fail"
- x64.release (-DVENDORTEST=1) :: run-v8-x64
mjsunit/delete: in our environment, this TC runs longer than 30 seconds. Maybe it is failed due to time limit

- x64.release (-DVENDORTEST=1) :: run-spidermonkey-x64
All failed cases seem to use ES6 let feature which is not yet implemented.
Some commands are missed in test.cmake file.
Please add following commands at run-spidermonkey-x86 and run-spiderm

[2018-12-14 07:50] clover2123 commented on #9
@akosthekiss
Please refer the above comment to fix failed TCs.
If you have any questions, please contact me. Thank you.

[2018-12-17 01:09] #9 closed

[2018-12-18 09:01] clover2123 opened #13 "Build & Test Issue"
#### Build based on Make or Ninja via cmake
We've moved to ninja based build & test system.
But make (Makefile) based build & test is also available.
You can freely choose one of them based on your comfort.

#### Travis CI fail
v8's regress-394673.js failed sometimes due to out-of-memory (too many recursive function calls. other JS engine, e.g. JSC, also failed running this TC).
So, the latest com

[2018-12-20 11:24] yichoi commented on #13
If ``ninja`` is supported in Travis and show better performance than makefile, I would like to support only ``ninja`` in order not to get distracted.

[2018-12-30 14:26] renatahodovan opened #25 "Assertion `iterable->isArrayObject()' failed in Escargot::builtinPromiseRace"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2018-12-30 23:35] renatahodovan opened #26 "Assertion `env' failed in Escargot::ByteCodeInterpreter::declareFunctionDeclarations"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2018-12-30 23:45] renatahodovan opened #27 "Assertion `m_deletionHasBegun' failed in JSC::Yarr::RefCountedBase::~RefCountedBase"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2018-12-30 23:51] renatahodovan opened #28 "Assertion `isValuePresent()' failed in Escargot::ObjectPropertyDescriptor::value"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2018-12-30 23:56] renatahodovan opened #29 "Assertion `blk' failed in Escargot::FunctionExpressionNode::generateExpressionByteCode"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2018-12-31 00:01] renatahodovan opened #30 "Assertion `iterable->isArrayObject()' failed in Escargot::builtinPromiseAll"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2018-12-31 00:05] renatahodovan opened #31 "Assertion `isArrayObject()' failed in Escargot::Object::asArrayObject"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-01-02 08:33] renatahodovan opened #33 "Assertion `isExtensible() || newLength <= getArrayLength(state)' failed in Escargot::ArrayObject::setArrayLength"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-01-02 20:12] renatahodovan opened #35 "RELEASE_ASSERT_NOT_REACHED in Escargot::Node::generateStatementByteCode"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-01-02 20:17] renatahodovan opened #36 "terminate called after throwing an instance of 'Escargot::Value'"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-01-03 17:05] akosthekiss commented on #31
For the records: I've executed the problematic test case both in Safari and in Chrome. The result was `"{}"` in both cases.

[2019-01-03 17:19] akosthekiss commented on #33
For the records: executing the test case both in Safari and in Chrome, extended with an extra `arrObj.toString()` statement, gives `",,,,,,,,,,,"`.

[2019-01-04 02:34] #33 closed

[2019-01-04 02:34] #31 closed

[2019-01-04 04:45] clover2123 commented on #13
Now, ```ninja``` is used as default build system. Whole TCs are run by python script.

[2019-01-04 04:45] #13 closed

[2019-01-04 13:43] akosthekiss opened #44 "JSON.stringify gives incorrect result for typed arrays"
###### Test case
[code]

###### Problem

This is the same test case as in #31 . It has been fixed by #38 not to crash the engine but the outcome of the test case is different from the result of other engines.

- Escargot gives `"[]"`
- Safari/JSC, Chrome/V8, and JerryScript all give `"{}"`

###### Notes

- It should be double checked whether the engines used as reference are conforming to the stan

[2019-01-04 14:16] akosthekiss commented on #44
False alarm. It seems that I was not on latest master. Sorry for the noise.

[2019-01-04 14:16] #44 closed

[2019-01-10 05:01] #28 closed

[2019-01-10 08:35] clover2123 opened #51 "Update ECMAScript 6 Features"
## ES6 Features on Escargot

ES6 Spec : [ecma-262/6.0](https://www.ecma-international.org/ecma-262/6.0/)
ES6 New Features : [New Features Overview & Comparison](http://es6-features.org)

Based on the upper spec, we are going to update ES6 features one by one.
Current status of implemented/unimplemented ES6 features are as follows.

### Implementation Priority

1. **`const` / `let` variables** (wid

[2019-01-10 08:38] #36 closed

[2019-01-22 05:08] #25 closed, assigned to nobody

[2019-01-23 05:04] #27 closed

[2019-01-24 05:21] #35 closed

[2019-02-08 09:54] zherczeg opened #87 "Smi, Value32/64"
I am thinking about working on an optimization, but before I do anything, I would like to ask your opinion about it. As far as I see Escargot uses three different representation for values: an SmallValue, which contains `uintptr_t` data, and a Value which size is always 8 byte, but there are two different implementations for 32 and 64 bit systems.

The problem is conversion costs: Value->SmallValu

[2019-02-11 07:46] ksh8281 commented on #87
A. we tested large Value array typed malloc, but performance is too bad..(versus SmallValue array)
because telling to bdwgc element of array are POD or pointer is slow.
but even internal value of SmallValue is always pointer, odd internal value of SmallValue is always integer,
so we don't have to tell to bdwgc element of array is POD or pointer

B. we tested doing common operations with SmallValue

[2019-02-12 11:53] zherczeg opened #91 "Property enumeration segfault"
[code]

It seems the problem is that it goes through the properties of a structure, while the structure is changed in the meantime.

[2019-02-12 14:04] wille-io opened #94 "Difference to jerryscript - or: what is escargot?"
What are the differences between escargot and jerryscript?
What is escargot exactly?

[2019-02-12 18:10] zherczeg commented on #87
I created common values for smi and value on 64 bit, and it is working now. Please check #92, is this what you prefer?

[2019-02-12 18:15] zherczeg commented on #94
Escargot is an EcmaScript engine for mid-range devices, i.e. you have a few MBytes of memory for each JS instance. JerryScript is an EcmaScript engine for low-end devices, with 64K or less memory. So in Escargot you have much more freedom to implement features and performance optimizations because the memory constraints are less tight.

[2019-02-13 02:44] ksh8281 commented on #87
#92 is very cool. that is good way reducing conversion costs I think

[2019-02-13 08:09] wille-io commented on #94
Perfect, exactly what I need.
Thanks.

[2019-02-13 08:09] #94 closed

[2019-02-19 06:48] #29 closed

[2019-02-28 16:09] DanielBallaSZTE opened #117 "RegExp.prototype.toString() does not work properly"
[code]

The above assertion fails.

[2019-02-28 16:29] DanielBallaSZTE opened #119 "String.prototype.match() does not properly change `lastIndex`."
[code]
The above assertions fail, due to `valueOf: function() { assert(false); }` being called, since lastIndex is not properly modified.

[2019-03-01 18:43] lizhengxing-1 opened #123 "What's the difference between Jerryscript and Escargot?"
I came across escargot and found its code is very neat and follows the ECMA262 v6 strictly.

My questions is:
What's the difference between escargot and Jerryscript?

Thanks!

[2019-03-01 18:58] LaszloLango commented on #123
See: #94

[2019-03-01 19:39] lizhengxing-1 commented on #123
@LaszloLango  Thanks!

Why not put this information into Escargot project's README file?  I think It helps the people who know Escargot project at the first time.

Thanks!

[2019-03-04 13:52] pmarkee opened #124 "Array.prototype.concat() should throw TypeError if length is greater than max safe integer"
https://www.ecma-international.org/ecma-262/6.0/#sec-array.prototype.concat
According to this section of the EcmaScript 2015 standard, `Array.prototype.concat()` has to check if the length of the returned array would be greater than `MAX_SAFE_INTEGER` (2^53).
[code]
However, Escargot does not check this.

[2019-03-04 15:32] Achie72 opened #125 "Duplicated expression value if template literal is in return"
**OS:** `Ubuntu 16.04 LTS`
**Escargot version:** 8fbf6d05ed8563562ff4e5197a2deca9bcf19547
**Build commad:**
`cmake -DESCARGOT_HOST=linux -DESCARGOT_ARCH=x64 -DESCARGOT_MODE=debug -DESCARGOT_OUTPUT=bin -DESCARGOT_ENABLE_PROXY_REFLECT=1 -GNinja && ninja`

**Example:**
[code]

**Expected result:**
`Hello world`

**Given result:**
`Hello worldworld`

---
However this does not occour if it's passed dir

[2019-03-04 17:56] #123 closed

[2019-03-05 00:57] #119 closed

[2019-03-05 08:43] Achie72 commented on #125
Upon further investigation:
[code]

Results in:  `Hello worldworlduniverseuniverse`
Instead of: `Hello world and beautiful universe and thanks for the fish`

Which indicates that the expression evaluation is cutting off any part, that is in between **and** after expressions.

---
But this doesn't apply if we consider multiple template literals in one return:
[code]
Results in: `Hello worldworlduni

[2019-03-05 18:40] renatahodovan opened #128 "Assertion `idx < m_size' failed in Escargot::ObjectStructure::readProperty"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-03-05 22:06] Achie72 opened #129 "Question about ES6 features"
#51 seems to be aimed to expand escargot with ES6 features. By looking at the code i found, that it has guards for some of these, for example:
`ESCARGOT_ENABLE_PROXY_REFLECT`, `ESCARGOT_ENABLE_TYPEDARRAY`

As i'm about to start to contribute in this field, i wanted to ask if you have a plan for guard groups, or just to have a separate guard for all of them?

To draw a parallel to a similar project

[2019-03-06 07:03] renatahodovan opened #130 "Segmentation fault in Escargot::Object::setOwnDataPropertyUtilForObjectInner"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-03-06 08:21] clover2123 commented on #129
We have a plan to switch to the ES6 completely. The two macros (`ESCARGOT_ENABLE_PROXY_REFLECT`, `ESCARGOT_ENABLE_TYPEDARRAY`) are temporal guards now, and these will be removed when ES6 features are updated completely.
According to that, we don't have to guard each ES6 features. But some features which have conflict with ES5.1 spec, we have to guard it with `ESCARGOT_ENABLE_ES2015` as represented

[2019-03-06 08:40] yichoi commented on #129
I encourage you to start with https://github.com/pando-project/escargot/issues/51 first

[2019-03-06 09:42] renatahodovan opened #131 "Segmentation fault in Escargot::Node::isIdentifier"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-03-06 19:01] renatahodovan opened #132 "Segmentation fault in Escargot::SmallValue::operator="
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-03-07 14:41] DanielBallaSZTE commented on #130
Quick note on this issue:
In the `VMInstance.cpp` file any of the `static ObjectPropertyNativeGetterSetterData` functions that have either their `m_getter` or `m_setter` properties set to `nullptr` cause the same issue.
ie. calling `Object.defineProperty(r, <'source', 'global', 'ignorecase', 'multiline'>, {value: false});` reproduce the segmentation fault.

[2019-03-07 23:15] renatahodovan opened #135 "Segmentation fault in Escargot::Value::isString"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-03-08 01:25] yichoi commented on #129
Closing. please continue to further discussion at #51

[2019-03-08 01:25] #129 closed

[2019-03-11 03:01] #131 closed

[2019-03-11 03:02] #130 closed

[2019-03-12 04:56] #117 closed

[2019-03-13 04:00] yichoi opened #143 "Follow up submodule updates #121"

[2019-03-13 04:00] yichoi commented on #143
@pmarkee

[2019-03-19 08:49] pmarkee commented on #143
Update: #141 has landed, so we now have the `class` keyword. The tests for #121 are still failing because they also require inheritance, which is not implemented yet, but will be in progress soon AFAIK.

[2019-03-21 09:22] pmarkee commented on #124
`Array.prototype.unshift()` was also missing this check.

[2019-04-02 09:19] clover2123 opened #177 "Wrong operations of bind function"
#### Test Case
[code]

#### Issues
- function name of bound function
- nested bound function and its constructor operation

[2019-04-05 03:18] #177 closed

[2019-04-05 08:20] clover2123 opened #185 "preventExtenstions error within Array object"
#### Test Case
[code]

#### Issues
- array should be converted to non-fast-mode if it is not extensible

[2019-04-08 10:24] #185 closed

[2019-04-08 10:37] clover2123 opened #188 "Implement for-of statement"
### for-of statement
[ES2015 description](https://www.ecma-international.org/ecma-262/6.0/#sec-for-in-and-for-of-statements)

[2019-04-09 06:35] pmarkee opened #191 "Update Array.prototype functions to ES2015 versions"
Related issue: #124
Related PRs: #140 #153

[2019-04-09 12:05] pmarkee commented on #143
@yichoi it seems that vendortests for other patches (for example #157 #161 #180 ) also depend on some es6 features that are not yet implemented (`let`, `const`, `extends`). I think we could collect all related cases under this issue and do the necessary submodule update later.
Also, should I revert https://github.com/pando-tests/js_vendor_tc/pull/3 ? It is going to keep failing for a long time and

[2019-04-10 00:58] clover2123 commented on #143
I think some necessary features like `let`, `const` are not easy to implement quickly, so it seems better to revert pando-tests/js_vendor_tc#3 to update and use the recent verdortests.

[2019-04-10 01:32] yichoi commented on #143
I see, I will remove pando-tests/js_vendor_tc#3 commit from the js_vendor_tc repo then update this submodule of escargot repo too.

[2019-04-10 04:16] yichoi commented on #143
removed by #193

[2019-04-23 02:19] clover2123 opened #206 "Update Map/Set & WeakMap/WeakSet features"
Update missing features and TCs

[2019-04-23 06:43] clover2123 commented on #188
Closed by #205

[2019-04-23 06:43] #188 closed

[2019-04-23 06:44] yichoi opened #208 "Enable Microsoft Windows Build and Setup AppVeyor"
- [ ] Windows Build : Once done before, needs to be updated
- [ ] Windows CI with AppVeyor

[2019-04-23 06:50] #143 closed

[2019-04-24 07:57] #128 closed

[2019-04-26 06:32] pmarkee commented on #91
I think this was fixed by #209 , I just checked on the latest master and there was no segfault.

[2019-04-26 06:34] #124 closed

[2019-04-30 23:09] renatahodovan opened #223 "Assertion isRegExpObject() failed in Escargot::Object::asRegExpObject"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-04-30 23:20] renatahodovan opened #224 "Assertion isPointerValue() failed in Escargot::Value::asPointerValue"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-04-30 23:25] renatahodovan opened #225 "Assertion byteindex + elementSize <= m_bytelength failed in Escargot::ArrayBufferObject::getValueFromBuffer"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-05-03 12:58] renatahodovan opened #232 "Assertion `!m_isDataProperty' failed in Escargot::ObjectGetResult::jsGetterSetter"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/). </sup>

[2019-05-03 13:30] renatahodovan opened #233 "Assertion `valueStringLiteralData.getTagInFirstDataArea() == 0x3' failed in Escargot::EscargotLexer::Scanner::ScannerResult::valueStringLiteral"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/). </sup>

[2019-05-03 15:29] renatahodovan opened #234 "Segmentation fault in Escargot::ByteCodeInterpreter::interpret"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/). </sup>

[2019-05-03 15:31] renatahodovan opened #235 "Assertion `isArrayObject()' failed in Escargot::PointerValue::asArrayObject"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/). </sup>

[2019-05-03 15:34] renatahodovan opened #236 "Assertion `idx < m_size' failed in Escargot::TightVector::operator[]"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/). </sup>

[2019-05-03 15:47] renatahodovan opened #237 "Assertion `s <= e' failed in Escargot::StringView::StringView"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/). </sup>

[2019-05-06 09:17] renatahodovan commented on #91
I cannot repro this one either on 958b293. However, a probably related issue #135 still crashes.

[2019-05-07 02:19] #223 closed

[2019-05-07 02:19] #224 closed

[2019-05-07 02:20] #125 closed

[2019-05-07 08:30] #235 closed

[2019-05-10 04:52] #135 closed

[2019-05-10 07:53] renatahodovan commented on #232
Fixed by #245 .

[2019-05-10 07:53] #232 closed

[2019-05-10 07:54] renatahodovan commented on #237
Fixed by #238 .

[2019-05-10 07:54] #237 closed

[2019-05-10 10:26] #91 closed

[2019-05-14 02:48] clover2123 opened #251 "ECMAScript 2016 Internationalization API Specification (ECMA-402)"
## ECMAScript® 2016 Internationalization API Specification
**ECMA-402 3rd Edition / June 2016**

ECMA-402 Spec : [ecma-402/3rd](https://www.ecma-international.org/ecma-402/3.0/index.html)

Based on the upper spec, we are going to update/implement ECMA-402 Intl features one by one.

- [x] Collation
- [x] Number Formatting
- [x] Currency Formatting
- [x] Date/Time Formatting

[2019-05-14 02:54] clover2123 commented on #251
Current `Intl` in Escargot is not fully supported.  So, we are going to update/implement Intl features together with ES6. If anyone is interested in this issue, please join it and update together.

To avoid any conflict, please announce your work/plan at here before updating each feature. Thanks:)

[2019-05-14 08:42] #132 closed

[2019-05-14 09:24] renatahodovan commented on #233
Fixed by #203

[2019-05-14 09:24] #233 closed

[2019-05-14 09:24] renatahodovan commented on #234
Fixed by #203

[2019-05-14 09:24] #234 closed

[2019-05-16 10:13] pmarkee commented on #251
Question: are these features currently tested? Where should we add internal TCs? In `test/es2015` directory, or should we create a separate test directory ( for example `test/intl` )?

[2019-05-16 12:42] clover2123 commented on #251
@pmarkee There are no TCs for Intl now. #260 looks nice :)

[2019-05-20 11:45] rerobika commented on #51
@clover2123 Could you please update this TODO list with these features?

- Binary & Octal Literal
- Regular Expression Sticky Matching
- Property Shorthand
- Array Matching
- Object Matching
- Parameter Context Matching
- Fail-Soft Destructuring
- Class Definition
- Class Inheritance
- Base Class Access
- Static Members
- Getter/Setter

[2019-05-21 01:46] clover2123 opened #265 "Dereferencing a null pointer in Escargot::AssignmentExpressionSimpleNode::generateExpressionByteCode()"
##### Test case:
[code]

##### Backtrace:
[code]

[2019-05-21 01:50] clover2123 commented on #265
The null pointer in AssignmentExpressionNode::m_left is originated from Escargot::ObjectPatternNode::generateExpressionByteCode().
In this function, `Node key` which is assigned to the m_left value of AssignmentExpressionNode can be allocated no value.

[2019-05-21 02:32] clover2123 commented on #265
#264 handled the bug but it's just a temporal fix (not a complete solution) which throws a ByteCodeGenerateError.

[2019-05-21 02:42] clover2123 commented on #51
@rerobika I've updated the list. Thanks:)

[2019-05-22 06:54] clover2123 commented on #206
Bug fix (#244) done. Close this issue.

[2019-05-22 06:54] #206 closed

[2019-05-22 07:14] rerobika commented on #265
@clover2123 Thanks for the report, I'll take a look at it. I think some kind of pattern declaration validation is missing, since this test case should throw SyntaxError.

[2019-05-24 07:55] clover2123 commented on #51
`Implementation Priority` list is newly added. ES6 features in the list are commonly used, so it would be better to update the list in high priority first if possible.

[2019-05-24 08:19] rerobika commented on #51
@clover2123 To avoid conflicts I've started to work on the let/const.

[2019-05-27 18:43] Achie72 opened #273 "Uint8ClampedArray values are not clamped correctly"
**OS:** Ubuntu 16.04 LTS
**Escargot version:** 54f7a35
**cmake version:** 3.5.1

**Build commad:**
`cmake -DESCARGOT_HOST=linux -DESCARGOT_ARCH=x64 -DESCARGOT_MODE=debug -DESCARGOT_OUTPUT=bin -GNinja && ninja`

---

**Example:**
[code]
**Expected result:**
`0, 255, 2, 1`
[(ECMA 2015)](https://www.ecma-international.org/ecma-262/6.0/#sec-touint8clamp)

**Given result:**
`244,88,1,1`

---

It is pos

[2019-05-28 11:37] #191 closed

[2019-05-29 04:39] clover2123 commented on #273
Thanks for the report. If you are not working on it, I'll take a look at this issue.

[2019-05-29 06:45] Achie72 commented on #273
I'm not working on it at the moment, i discovered this, while working on #274, but as it seems different from it, so i did not want to solve it in that PR. Feel free to pick it up.

[2019-06-15 18:12] renatahodovan opened #287 "Assertion constructor.isConstructor() == true in Escargot::FunctionObject::construct"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-06-15 18:13] renatahodovan opened #288 "Assertion isFunctionObject() in Escargot::PointerValue::asFunctionObject"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator) </sup>

[2019-06-16 17:29] renatahodovan opened #289 "Assertion idx < m_size in Escargot::Vector:operator[]"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with  [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2019-06-18 05:16] clover2123 commented on #288
@renatahodovan Thank you for the report. I'll take a look at this issue and #287 issue too.

[2019-06-18 06:10] clover2123 commented on #287
@renatahodovan is the test code correct? `Function.prototype` is not a constructor, so TypeError exception should be triggered in that code.

[2019-06-19 07:51] #287 closed

[2019-06-19 07:51] #288 closed

[2019-06-26 10:26] rerobika commented on #51
@clover2123 Could you please update this TODO list with these features?

- Unicode String & RegExp Literal
- Regular Expression Sticky Matching
- Generator Function, Iterator Protocol
- Generator Function, Direct Use
- Generator Matching
- Generator Control-Flow
- Generator Methods

[2019-06-27 00:50] clover2123 commented on #51
@rerobika List updated. Thanks:)

[2019-07-04 01:30] #273 closed

[2019-07-04 05:52] bbrto21 opened #305 "Int32Array values are incorrect."
**Test case:**
[code]
**Expected result:**
`0, 0, 0, 1, 0, 3`

**Given result:**
`-2147483648,0,0,1,0,3`

[2019-07-04 05:53] bbrto21 commented on #305
I'm working on this.

[2019-07-05 01:21] #305 closed

[2019-07-15 11:27] rerobika commented on #51
@clover2123 @ksh8281  @bbrto21 Are you started/planning to work on the ES6 module system? If not and you do not mind, I'll start working on it.

[2019-07-16 01:54] ksh8281 commented on #51
@rerobika no.. you won't
we don't want to add new feature right now.
we want to pass every test262(only implemented features)
and we want to run very huge program (like big websites. youtube..google...)
so we need to run every program on fast mode(indexed mode)

you can choose finding bug on already implemented features(class, rest, arrow..)
or turn on fast mode es6 features.

If we cannot on fast

[2019-07-16 13:07] zherczeg commented on #51
Hi @ksh8281, do you have any benchmarks where we should measure the improvement?

[2019-07-17 02:28] ksh8281 commented on #51
@zherczeg we don't have es6 bench marks yet. do you have any idea?
but we can observe we give up fast(indexed) mode when many es6 features(pattern, rest, arrow super...) comes up with source

[2019-07-25 09:50] zherczeg opened #330 "Infinite loop: `a: { continue a }`"
Normally continue with label should only work with iterable statements, but in Escargot any statement can be "restarted". I think we should fix this.

However there is some exception which can be thrown during the code generation, and that triggers some issue with `switch` statements. What is the purpose of that? Shall we fix this during code generation (late) or at parsing time (early)?

[2019-07-25 23:47] ksh8281 commented on #330
Good catch....
I think this is one of esprima's bug
I tested `a: { continue a }` on esprima.org, but it didn't throw any error.
We should fix this in parsing time(early) I think.

[2019-07-25 23:47] #208 closed

[2019-07-26 00:50] #289 closed

[2019-07-29 08:31] Seo-Young opened #335 "Updated readme.md"
Hi this is Isabelle on behalf of Samsung Inner Source Program.
According to the Inner Source Program Governance. I would like to make PR for readme.
But it just committed.
Please check your project members has no issue with the changes. And please add copyright file of this project on the master node with the direction in this page : http://mosaic.sec.samsung.net/kms/comty.do?comtyId=279217135&men

[2019-07-30 02:16] haesik commented on #335
We have decided not to participate in the inner source program of samsung because escargot is open source project.

[2019-07-30 02:16] #335 closed

[2019-07-31 07:30] Achie72 opened #343 "Uncaught SysntaxError, when using array.map with arrow function"
**Escargot version:**
[code]
**OS:**
[code]

**Test Case:**
[code]
**Results:**
[code]
**Expected:**
[code]
---

I'm not sure about the exact problem in the code, but i'm suspecting, that the [ES6](http://www.ecma-international.org/ecma-262/6.0/#sec-array.prototype.map) implementation does not handle the optinal `[, thisArg]` parameter correctly.

---
**However:**
Eliminating the optional argument

[2019-08-02 05:45] #330 closed

[2019-08-06 09:45] Achie72 opened #352 "Segmentation fault when using let variables inside generators"
**Escargot version:**

Checked revision: 6156f7a6951caf468e879cc74bdbfd7c7b4861bd
Build command: cmake -DESCARGOT_HOST=linux -DESCARGOT_ARCH=x64 -DESCARGOT_MODE=debug -DESCARGOT_OUTPUT=bin -GNinja && ninja

**OS:**
[code]

**Test Case:**
[code]
**Results:**
[code]
**Expected:**
[code]
---

If i change both `let` into `var`, then it works just fine.

[2019-08-07 06:09] #225 closed

[2019-08-08 00:53] #343 closed

[2019-08-14 08:12] zherczeg commented on #265
I don't see this issue anymore so closing bug. Please reopen if needed.

[2019-08-14 08:12] #87 closed

[2019-08-14 08:18] zherczeg commented on #236
[code]
Somewhat simplified test case.

[2019-08-20 03:48] clover2123 commented on #265
This issue is not resolved yet. I'm handling this issue now and will close it after the issue is completely fixed.

[2019-08-21 09:49] zherczeg commented on #236
It looks like this is a scope context problem. The default parameter is instantiated in `test0`, and `this->config.parseSingleFunctionChildIndex` grows by 1. So when the actual body is parsed, we reached the end of child functions.

[2019-08-27 09:58] rerobika commented on #352
Fixed via #391.

[2019-08-27 09:58] #352 closed

[2019-09-06 08:52] clover2123 commented on #265
Fixed by #412.

[2019-09-06 08:52] #265 closed

[2019-09-10 09:29] #251 closed

[2019-09-20 00:56] clover2123 commented on #236
@zherczeg @rerobika
Are you working on this issue? I'm going to take this issue if you've not started yet

[2019-09-20 05:52] rerobika commented on #236
@clover2123 I've investigated the problem but I don't have proper solution for it, so please feel free to do it.

[2019-09-23 00:38] clover2123 commented on #236
@rerobika Thanks. I'll take a look at this issue.

[2019-10-02 08:46] Achie72 opened #446 "Cannot access 'element' before initialization in for-of with const"
**Escargot version:**
[code]
**OS:**
[code]

**Test Case:**
[code]
**Results:**
[code]
**Expected:**
[code]

[2019-10-02 11:53] Achie72 commented on #446
On latest master, this is not an issue, so i'm closing this.

[2019-10-02 11:53] #446 closed

[2019-10-17 09:46] #236 closed

[2019-10-29 01:30] bbrto21 opened #484 "Check computed property names in strict mode"
**Escargot (please complete the following information):**
 - OS: Ubuntu 18.04
 - Revision 6aa1ede2033f83a7192f795d73a41675f3cc9d3c

**Describe the bug**
Classes are always strict mode. Check computed property names and heritage expressions as well.

**Test case**
[code]
**Expected behavior**
true

[2019-11-06 06:06] clover2123 commented on #51
Escargot now supports ESMAScript 2015 completely from the [release 1.6.0](https://github.com/Samsung/escargot/releases/tag/v1.6.0). Close this issue.

[2019-11-06 06:06] #51 closed

[2019-11-06 06:12] clover2123 opened #498 "Support the Latest ECMAScript Standard"
## Update the ECMAScript 2019 (the latest standard) on Escargot

ECMAScript 2019 Standard : [ecma-262/10.0](https://www.ecma-international.org/ecma-262/10.0/)

Based on the upper standard, we are going to update the new ES10 standard and missing features from ES7 to ES10.

### New Features
#### ECMAScript 2016
- [x] Exponentiation Operator (**)
- [x] New Builtin Methods
- Array.prototype.includes

[2019-11-12 08:25] Achie72 commented on #498
Do we want to have separate TC-s for separate functions under `Escargot/es2010` like we did with ES6?

[2019-11-14 01:39] clover2123 commented on #498
@Achie72 Since a new ECMAScript standard is released in every year, we think that it's not quite important to separate each ECMAScript version now. Therefore if you want to add any new TCs with the latest feature, please add it to the existing `Escargot/es2015`. I'll re-name the repositary soon (such as `new_es`).

[2019-11-24 22:45] renatahodovan opened #513 "Terminate called after throwing an instance of 'Escargot::esprima::Error' from Escargot::esprima::Parser::parsePrimaryExpression"
###### Escargot version:

[code]

###### OS:

[code]

###### Test case:

[code]

###### Backtrace:

[code]

<sup>Found by [Fuzzinator](http://fuzzinator.readthedocs.io/) with [grammarinator](https://github.com/renatahodovan/grammarinator). </sup>

[2020-01-10 02:17] #513 closed

[2020-01-21 11:12] zherczeg opened #549 "Managing breakpoints in Escargot"
I would like to create a mechanism which allows inserting breakpoints into the byte code in some way. It would be great if you could provide some feedback about the most efficient way to do it.

There are two ways to implement breakpoints:

1) Inserting DisabledBreakpoint instructions into the code, which can be turned into EnabledBreakpoint instructions when needed.
Advantage: with these instruct

[2020-01-22 04:49] clover2123 commented on #549
Thank you for your great suggestions!
First of all we have no experience about debugging tool development, so our opinion might not be the best solution. If you have any other idea, please feel free to discuss it with us.

- Implement breakpoints
  We think that inserting Breakpoint instructions for every necessary code points would be desirable because developers usually switch or recompile to de

[2020-01-22 10:15] zherczeg commented on #549
Thank you for the reply @clover2123

I would also prefer to insert Breakpoint instructions. We also do this in JerryScript, it makes the implementation much easier. Code size increase is also smaller, since we don't need to add a check before each instruction (Escargot use computed gotos, so we directly jump to the next instruction, and there is no common loop header which is executed before a vm

[2020-01-22 11:07] clover2123 commented on #549
@zherczeg Thanks for the analysis. IMHO the incorrect "loc.index" example you mentioned above could be solved by calling `this->createNode()` at the start of `parseLabelledStatement` and using its result meta node for `finalize`. You can also confirm this by the latest esprima [source code](https://github.com/jquery/esprima/blob/45c9ab14d96f7f7fa88333fdd897487a8c20082f/src/parser.ts#L2561) (it see

[2020-01-22 11:29] clover2123 opened #552 "EmptyValue is recognized as a PointerValue in 64bit mode"
**Escargot**
 - OS: Ubuntu 18.04 (x64)

**Describe the bug**
EmptyValue is recognized as a PointerValue in 64bit mode.
Especially, `Value::isPointerValue()` returns true result for EmptyValue.

**Anaylisis**
[code]
EmptyValue has 0 (null) value in itself. Therefore the result of `u.asInt64 & TagMask` operation always false and isPointerValue() returns true.
If I simply fix the check code as follow

[2020-01-31 13:31] zherczeg commented on #549
@clover2123 Hi, I have another issue. Due to the lazy instantiation, byte code for functions are generated the first time when they are executed. However, I think this is very inconvenient for debugging, since users cannot put a breakpoint into a function until it is executed. To fix this, I have experimenting with generating byte code when the source code is parsed. Here is my patch:

https://git

[2020-02-03 10:41] zherczeg commented on #549
I have two more questions:

Q3) ScriptParser has a needByteCodeGeneration flag. When this flag is not set? Shall we generate byte code regardless of this flag when the debugger is available?

Q4) Eval passes `eval input` as file name. However `eval input` is a valid file name as well. Is this ok, or shall we change this constant to an invalid file name, e.g. `*eval_input*` since `*` is not allowed

[2020-02-04 05:10] clover2123 commented on #549
Here's my opinions.
Q3) ScriptParser has a needByteCodeGeneration flag. When this flag is not set? Shall we generate byte code regardless of this flag when the debugger is available?
=> `needByteCodeGeneration` flag is disabled only for special cases, especially generating function object. When generating a new function object by `Function` builtin method, escargot first combines code pieces and t

[2020-02-04 05:57] zherczeg commented on #549
Thank you for the reply. Please check Q1 and Q2.

[2020-02-04 06:15] clover2123 commented on #549
My opinion continued,
Q1) Is it ok for you to generate byte code at script parsing time (this increase the memory consumption at short term)?
=> I agree with you. Yes, we should generate all bytecode for the whole code. It would rapidly increase the memory consumption, but as I said before, (IMO) performance and memory are not critical issue in debugger mode.

Q2) Is my code ok?
=> your code looks

[2020-02-04 08:08] zherczeg commented on #549
Thank you.

Regarding initializeScript, would you duplicate the current code and add a debugger specific variant, and the caller should decide which one should be called? Or the current initializeScript should call the other if the debugger is enabled?

Regarding stack limit, it seems it only exists when ExecutionState is present. When the main source code is parsed in the Shell.cpp, the VM is not

[2020-02-04 12:10] clover2123 commented on #549
- implement initializeScript : feel free to choose any one that you prefer more. I recommended a new initializeScript method just to make the code look clear.
- stack limit : actually VM instance is created by `VMInstanceRef::create`, so is Context in main function. IMO the stack should be unlimited by setting the `stackSizeRemain` as SIZE_MAX for debugger.
- VMInstance : Context has a VMInstance

[2020-02-25 10:24] zherczeg commented on #549
Hi @clover2123,

I replaced the sha1 algorithm with a new one. This code has no conflicting license.

Now I try to solve the wrong line info problem. I found two issues, and I hope you could help me:

a) `lineNumber(((length > 0) ? 1 : 0) + startLine)`
https://github.com/Samsung/escargot/blob/master/src/parser/Lexer.cpp#L675

This code increase the `startLine` for nested functions, so all lines ar

[2020-02-27 05:24] clover2123 commented on #549
@zherczeg
I'll take a look at your issues deeply. Please hold it for a while.

During the time, could you explain the overall operation or structure of the debugger briefly?
For example, I have following questions.
- How to link the debugger with existing tools such as VSCode?
- I think the debugger should also support presenting information like call stack or variables.
To support these features,

[2020-02-27 13:12] zherczeg commented on #549
The brief structure of the debugger is the following:

It has two major components: the debugger server inside Escargot, and a debugger client, which can be implemented in any language. The patch contains a simple python client implementation, but the client can be implemented in JavaScript (for VSCode) as well. The two components are connected through a communication channel. Currently WebSocket

[2020-03-02 10:57] clover2123 commented on #549
@zherczeg here is my opinion.

a) `lineNumber(((length > 0) ? 1 : 0) + startLine)`
I changed ExtendedNodeLOC startLoc = ExtendedNodeLOC(0, 0, 0)) to ExtendedNodeLOC startLoc = ExtendedNodeLOC(1, 0, 0)) here and removed the increase:
=> Yes, this approach looks great for me.

b) In the following code we set `this->scanner->lineNumber` to `childBlock->functionStart().line`;
There are some solutions

[2020-03-03 10:37] zherczeg commented on #549
I choose option 2, and added support for lots of statement types in the code. Now empty functions, empty scripts, variable initializations and other things work correctly.

[2020-03-06 12:46] zherczeg commented on #549
Hi @clover2123

I would like to work on evaluating JavaScript commands by the debugger, and I would like to hear your valuable suggestions first.

1) My first question is about evaluating commands directly. Debugger commands are same as direct evals, and I suspect this affects the parser (I saw an `is_eval` flag). Shall I set this flag to true when the debugger is enabled? Is there anything else I

[2020-03-09 02:08] ksh8281 commented on #549
Hi @zherczeg
{1,2} ->IMO, making evaluating commands directly in debugger,
we need to set every CodeBlock::m_hasEval as true if debugger is enabled.
thus we can call GlobalObject::evalLocal function every where is think
{3} -> you can wrap `GlobalObject::evalLocal` with c++ native try-catch for catch exception
{4} -> should we throw exception with direct input on debugger?
IMO we would not throw e

[2020-03-12 10:52] Achie72 opened #584 "Escargot and Kangax"
I'm not sure, if this is one of the goals of the project, or totally off-scope, but there is an project named Kangax, with lists various javascript engines, and shows their compatibility with various ECMAScript standards:
https://kangax.github.io/compat-table/es6/
I ran a quick rundown on the ES6 testsuite subset (which is still one of the most wanted ES subset), and here is a summary for it:
[cod

[2020-03-13 02:29] clover2123 commented on #584
@Achie72 Thank you for your great suggetion.

* Official upload to Kangax project
Actually we have plan to advertise escargot project through online JS engine communities. It would be great if escargot can be listed on the kangax. Could you guide us how to upload on kangax project?

* `ESnext` and `ESplus`
What do you mean `ESnext` and `ESplus` exactly? If these are terms for the next version of E

[2020-03-13 09:24] Achie72 commented on #584
Well it's a bit tricky and tedious, but not really a difficult thing.
- A new test-runner script must be added based on the others.
- A new engine must be added to the enviroments.json
- The wanted testsuites need to be tested with the testrunner.
- Data-*js files must be updated by hand with the given results
- Run build.js with node, which will generate the corresponding HTML files.
- PR to the

[2020-03-13 09:38] Achie72 commented on #584
I've run some tests already, and have a draft version of a test runner, so if you guys are okay with it, i can finish the rest of the to-do-s and create some PR in the Kangax table repository.

The only thing needed is the testsuites we want to have in the report. There is:
- ES5
- ES6
- ES7
- ES2016plus
- ESIntl
- ESNext
- non-standard

If you take a look into these, which do we need and which no

[2020-03-16 08:01] clover2123 commented on #584
@Achie72 Looks great!
How about adding `ES6`, `ES7` and `ES2016plus` test suites first into this project?
After running these test suites and fixing some bugs, we may upload Escargot to the official Kangax project.
Thanks!

[2020-03-16 08:05] clover2123 commented on #584
It seems that `ES7` was deleted or replaced by `ES2016plus`. It would be better to add `ES6` and `ES2016plus` only. Thank you.

[2020-03-16 12:15] Achie72 commented on #584
Made a quick `ES2016plus` run:
`132 tests executed: 67 success, 65 fail`
Heavily failing tests here atm:

- async functions
- shared memory and atomics
- BigInt
- Optinal Chaining

The `_onExit` feature i'll mention in the end will help here too. Async's featrues are in progress as far as i know (based on recent PR-s), so that will fix over time, but i'm not sure if the last two i mentioned are ev

[2020-03-17 01:33] clover2123 commented on #584
This is our specific development plan.
* async functions : in progress
* shared memory and atomics : do not support
* BigInt : will support (2020 feature)
* Optional Chaining : will support (2020 feature)
Currently, escargot passes only some part of `ES2016plus` tests but it will get better soon as many new features are going to be updated.

For test method,
1) Copy those data files as well into t

[2020-03-17 07:59] Achie72 commented on #584
I liked that idea as well, but i wanted to list all reasonable possibilities. I'm going for this one then.

To upload you just have to make a pull request with the updated `html` files correspoding to the testsuite you want to show Escargot in. They have a a builder script for that, so that shouldn't be that hard.

The harder part is to create the data files from which the builder creates the html

[2020-03-17 09:28] clover2123 commented on #584
The cloning of the kangax repository may add some time for the CI run

For now, we may add the kangax testsuite to CI just to show the kangax result. After some bugs fixed, then we can enable the kangax on CI.
escargot already has several git modules for test, so cloning of the kangax repo would not affect the CI performance significantly IMO.

[2020-03-24 09:41] zherczeg commented on #549
The next feature I need to work on is getting the key/value pairs of the scope chain for VSCode. It seems some environment records has IdentifierRecordVector. I suspect I can use this for getting the names of identifiers. However others don't have this vector. How can I get the names in that case? Eval is forced for all byte code, so some records might not be possible.

[2020-03-24 10:13] ksh8281 commented on #549
In eval mode, You can use m_recordVector of {*EnvironmentRecordNotIndexed} for getting names on scopes.
Indexed record could not be used on eval mode.

[2020-03-31 06:30] zherczeg commented on #549
Thank you for all help.

[2020-03-31 06:30] #549 closed

[2020-03-31 06:48] zherczeg opened #606 "Advanced debugger features"
I think the core debugger features are completed. The list of these features follows:

Breakpoint management:
- Sending source code and breakpoint info
- Enabling / disabling breakpoints

Execution control:
- step-in
- next
- continue
- stop execution

Other features:
- evaluating expressions
- getting backtrace
- getting scope
- getting variables of a scope

Could you tell us what other features

[2020-04-02 06:59] zherczeg opened #613 "Function release"
If I run the following code:
[code]

The finalizer runs for the program, but not for `f`:
https://github.com/Samsung/escargot/blob/master/src/interpreter/ByteCode.cpp#L93

If I throw an exception in `f`, the finalizer also runs for the byte code created temporarily, but still no release for `f`. Do you have idea what is happening here?

[2020-04-02 07:12] ksh8281 commented on #613
The finalizer runs for the program, but not for f
->
The compiled program bytecode can not be used after execution.
so we give up program bytecode at Script.cpp(Script::execute)
[code]

but compiled function bytecode is differ
many functions are re-executed so we don't give up even it was executed.
but we sometimes give up compiled function bytecodes at VMInstance::gcEventCallback
this is why func

[2020-04-02 07:41] zherczeg commented on #613
Thank you. So it is not possible to tell that those functions are not used anymore.

[2020-04-02 07:41] #613 closed

[2020-04-02 07:51] Achie72 commented on #498
@clover2123 i think we can look into updating a few things here:

- dotAll flag done in:
-- https://github.com/Samsung/escargot/pull/544
- named capture groups done in:
-- https://github.com/Samsung/escargot/pull/551
- Unicode property escapes done in:
-- https://github.com/Samsung/escargot/pull/562
- Optional catch binding parameters done in:
-- https://github.com/Samsung/escargot/pull/566
- Allo

[2020-04-03 02:27] clover2123 commented on #498
@Achie72
The list updated. Thanks.
It seems that almost all the necessary features are implemented except **lookbehind assertions** in regular expression.

[2020-04-03 07:27] Achie72 commented on #498
Lookbehind is only supported by a V8, where it is faulty as well, and no other big engines have it as far as i know.
[code]
This is because it is a very controversial feature, as it not defined exactly how it should behave in complex situation, and if it is implemented, it is very resource intense and therefore sometimes it has limited or just tricked behavior to achieve an easier inner workings (

[2020-04-03 07:47] ksh8281 opened #616 "RegExp error"
**Escargot (please complete the following information):**
 - OS: Linux

**Describe the bug**
RegExp.prototype.test result is wrong

**Test case**
var locale = "de-gregory-gregory"
var re = /(([a-z]|[0-9]){2,8}-)+(([a-z]|[0-9]){5,8}|([0-9]([a-z]|[0-9]){3}))-(([a-z]|[0-9]){2,8}-)*\3(?!([a-z]|[0-9]))/i
print(re.test("de-gregory-gregory"))

**Expected behavior**
print `true`

[2020-04-03 07:48] ksh8281 commented on #616
related with ./test/test262/test/intl402/Intl/getCanonicalLocales/invalid-tags.js

[2020-04-03 08:11] zherczeg commented on #498
I think the problem with lookbehind, is that the trivial solution (scanning from the beginning of the subject string) is way too slow, and the opposite method - scanning backward - is kind of impossible to implement efficiently because of the corner cases. So far only Google tried it, and they failed. We could consider ignoring this feature.

[2020-04-06 01:54] clover2123 commented on #498
@Achie72 @zherczeg
I didn't know the notoriety of that feature.
We decide not to support lookbehind feature as well.
Thanks for your feedback!

[2020-04-06 01:56] clover2123 commented on #498
From now on, we will going to pass more TCs such as v8 (kangax too).
First of all I'll update vendor TCs to the latest version.
Thank you for all your contributions.

[2020-04-06 01:56] #498 closed

[2020-04-06 05:45] clover2123 commented on #606
Thank you very much for your wonderful contribution:)

Yes, we definitely have to support environment outside of Escargot engine.
All your ideas looks great!

BTW I have some questions/requests as follows.
* With current features, is it enough to intergrate with IDE tools like VSCode?
* How about adding "kill" option which immediatly ends the debugger run?
* Turning on/off the debugger during the

[2020-04-07 09:39] zherczeg commented on #606
Hi,

* Yes, we already have a working VSCode debugger prototype now, but we can work on more features (e.g. restart), and can make the extension more user friendly
* Kill the JS execution or just detach the debugger? Detach is very simple operation. If we want to kill the JS execution, we need to figure out a way to do it. Perhaps throwing some kind of `abort` (which is not caught by try/catch(Val

[2020-04-07 11:55] clover2123 commented on #606
* adding "kill" or "quit" option
IMO detaching(finishing) the debugger would be enough.

* Turning on/off the debugger during the runtime
I'm wondering that this is one of common features in other JS debuggers. As you mentioned, replacing the bytecode during the code execution is extremely difficult. If we don't need to support this case, just ignore it.

* Handling errors/segfaults
IMO printing e

[2020-04-07 12:23] zherczeg commented on #606
Regarding on/off the debugger: the debugger can work silently. If no breakpoints are set, and no stop command is issued, the program just runs. So the IDE can simulate attach / detach / attach again events by temporariliy enabling and disabling breakpoints.

Regarding errors: am I understand correctly, that we just need to notify users, but does not need to do any actions? Sending this data is not

[2020-04-08 06:01] clover2123 commented on #606
I missed that "quit" option was already added
Regarding errors: yes, just notify the users.

"finish" option looks similar to "until" option in gdb. Is this also one of essential features in JS debugger?

[2020-04-08 07:05] zherczeg commented on #606
"finish" is a command in gdb, and VSCode debugger has a "step-out" command which is the same:
https://sourceware.org/gdb/onlinedocs/gdb/Continuing-and-Stepping.html
https://code.visualstudio.com/docs/editor/debugging#_debug-actions

I don't think this is essential, so if you want it I can close #618 .

[2020-04-08 07:10] zherczeg commented on #606
Btw the VSCode command mapping will look like this (left VSCode, right Escargot debugger):
Continue / Pause - ESCARGOT_MESSAGE_CONTINUE / ESCARGOT_MESSAGE_STEP
Step Over - ESCARGOT_MESSAGE_NEXT
Step Into - ESCARGOT_MESSAGE_STEP
Step Out - ESCARGOT_MESSAGE_FINISH
Restart - not implemented yet
Stop - closing socket

[2020-04-08 07:37] clover2123 commented on #606
Thanks for your detailed explanation.
It seems that we should add "finish" command to support "Step out" in VSCode.

[2020-05-06 08:44] rerobika opened #649 "Incorrect backtrace line-columns info"
- OS: Ubuntu 18.04
 - Revision 66d95455d7e5457e9c31b1214dec457e4f73c08c

**Describe the bug**
A clear and concise description of what the bug is.

**Test case**
Test code to reproduce the behavior:
[code]

**Backtrace**
[code]

**Expected behavior**
[code]

However, that line misalignment wouldn't be a huge problem in the CLI version of the engine, but currently it's a major problem in the VSCode

[2020-05-08 03:03] clover2123 commented on #649
Hello!
When I test your sample code by escargot (revision 66d9545), it shows the backtrace info correctly as follows.
[code]
Is this problem occurred only for debugger?
Would you please explain the case more specifically when it is occurred?

[2020-05-08 05:52] zherczeg commented on #649
I also tried this test, and get the former output (with `issue.js (6:7)`). This is my cmake command:

`cmake -DCMAKE_C_COMPILER=gcc-9 -DCMAKE_CXX_COMPILER=g++-9 -DESCARGOT_HOST=linux -DESCARGOT_MODE=release -DESCARGOT_ARCH=x86 -DESCARGOT_OUTPUT=shell -GNinja``

Debugger is not enabled. I tried both `debug` and `release` modes and both `x86` and `x64` but I still get the same output. How do you com

[2020-05-08 06:12] clover2123 opened #654 "ICU issue"
Recently, escargot has adopted the up-to-date [ICU library](https://github.com/unicode-org/icu) to support the latest Intl standard([ECMA-402 6th edition](https://www.ecma-international.org/ecma-402/6.0/)).
However there are some conflicts between newer and older ICU versions for our ICU initialization process in Escargot, and we found that there are even bugs in the latest ICU release(revision 67

[2020-05-08 06:39] clover2123 commented on #649
I tried `debug` and `release` mode too.
I run the sample file(`issue.js`) with standalone escargot.

My compile command :
"cmake -DESCARGOT_HOST=linux -DESCARGOT_ARCH=x64 -DESCARGOT_MODE=debug -DESCARGOT_OUTPUT=shell_test -GNinja"

[2020-05-11 07:38] zherczeg commented on #649
We finally able to track it down. It turned out even if we don't specify `-DESCARGOT_DEBUGGER=1`, it is somewhere in the cmake cache, and somehow emitting disabled breakpoints cause the line info issues.

[2020-05-11 07:38] #649 closed

[2020-05-11 12:02] Achie72 opened #656 "Updating Unicode Identifier Ranges"
There is a little kangax example, that i'm working on:
[code]
which tests if we can allow this 32 unicode as an identifier:
[https://www.fileformat.info/info/unicode/char/102c0/index.htm](https://www.fileformat.info/info/unicode/char/102c0/index.htm)

I started a pull request, but got stuck a bit, as seeing this is not registered as an identifier starter i tried to use something along the line of

[2020-05-13 02:41] clover2123 commented on #656
Unfortunately, there is no script which automatically updates the unicode table ([g_asciiRangeCharMap](https://github.com/Samsung/escargot/blob/bfcc61254d251c536a1c8de369b6a09bf6228026/src/parser/Lexer.cpp#L42)).

To give a small tip, Escargot scanner reflects that of esprima too.
We use the `g_asciiRangeCharMap` table only for scanning performance but esprima does not.
You may update the table mo

[2020-06-18 03:56] clover2123 opened #693 "ES.Next"
## Support ES.Next on Escargot

ES.Next Standard : https://tc39.es/ecma262/
ES.Next Proposals : https://github.com/tc39/proposals

Based on the upper standard, we are going to update the new standard.

### New Features in ECMAScript 2024
#### New Builtin Methods
- [x] Promise.withResolvers
- [x] Object.groupBy
- [x] Map.groupBy
- [x] Atomics.waitAsync
- [x] String.isWellFormed
- [x] String.toWellF

[2020-06-18 04:42] clover2123 commented on #693
test262 TC for ES11 would be updated through #688

[2020-07-01 06:10] #656 closed

[2020-07-09 02:09] clover2123 opened #702 "[Debugger] ESCARGOT_MESSAGE_RELEASE_FUNCTION triggered while receiving the source code"
**Escargot (please complete the following information):**
 - OS: Ubuntu 16.04
 - Related PR : #701

**Describe the bug**
#701 initially failed only for the debugger's `client_source_multiple` test case as follow.
![image](https://user-images.githubusercontent.com/29055659/86985958-6b3f7a00-c1cd-11ea-9486-215186324bc4.png)

**Test case**
Test code to reproduce the behavior:
[code]
I reproduced the

[2020-07-09 02:11] clover2123 commented on #702
@zherczeg @kisbg  @rerobika
Would you please check this issue?

[2020-07-09 08:52] zherczeg commented on #702
You analysis is correct handling ESCARGOT_MESSAGE_RELEASE_FUNCTION is missing from the parser. But it is a possible command there.

[2020-07-10 00:35] #702 closed

[2020-11-12 05:47] clover2123 opened #769 "Enable WebAssembly"
# WebAssembly

### WebAssembly Core Specification
* Follow the [Latest Release 1.1](https://webassembly.github.io/spec/core/)

### WABT: The WebAssembly Binary Toolkit
* https://github.com/WebAssembly/wabt
* wasm-interp: decode and run a WebAssembly binary file using a stack-based interpreter
* support wasm-c-api

### WebAssembly C and C++ API
* https://github.com/WebAssembly/wasm-c-api
* implemen

[2020-12-10 02:36] clover2123 commented on #769
We found some conflicts between wasm-js-api spec versions.
So, we decide to implement the latest api version (https://webassembly.github.io/spec/js-api/) annouced at 12 November 2020.

[2021-01-14 02:04] clover2123 commented on #693
Change the title and list based on ES.Next

[2021-01-27 01:59] clover2123 commented on #769
Basic features of WebAssembly are now fully supported.

[2021-01-27 02:54] clover2123 commented on #693
ECMAScript 2020 is now fully supported.

[2021-06-01 06:28] evalPenny opened #907 "Is it possible to trigger the garbage collection?"
Is it possible to trigger the garbage collection using JavaScript function?
If there isn't, will you add the feature?

[2021-06-04 07:41] clover2123 commented on #907
Yes, its possible.
You can explicitly call `gc` function to trigger the garbage collection like below.
[code]

Note) builtin `gc` function is enabled only for shell build now (cmake build flag with `-DESCARGOT_OUTPUT=shell`)

[2021-06-04 07:44] ksh8281 commented on #907
You can add gc function like this
[code]

[2021-06-05 04:12] #907 closed

[2021-06-18 01:33] clover2123 commented on #769
First phase done. Closed.

[2021-06-18 01:33] #769 closed

[2021-06-24 09:00] clover2123 commented on #693
[ECMAScript 2021](https://262.ecma-international.org/12.0/) has been released.
The next version is [ECMAScript 2022 (draft)](https://tc39.es/ecma262/).

[2021-08-23 09:25] zherczeg opened #954 "Debugger crashes when the class have a default constructor and field initializers"
Example:
[code]

Problem is, the byte code of the class initializers are generated after the parsing is done.

When a class has no constructor, the `code->m_codeBlock` is NULL here:
https://github.com/Samsung/escargot/blob/master/src/interpreter/ByteCodeInterpreter.cpp#L2783

If the debugger is enabled, the `createFunctionSourceFromScriptSource` crashes, because lazy compilation is detected.

The

[2021-08-25 10:38] clover2123 commented on #954
IMO debugger could not support dynamically created functions like below,
because these functions are created during the execution and do not have static source code.
So, users cannot add any breakpoints into it.
[code]

Similar to the above, `default constructor` of class is also invisible too.
Escargot just creates dynamic functions for this.

I think that we don't need to support these dynamic f

[2021-08-25 12:33] zherczeg commented on #954
Probably these can be ignored, but the main problem is the not dynamic part:
[code]
Maybe some people wants to put a breakpoint to  `a=1`

[2021-09-07 07:19] zherczeg commented on #954
Fixed by #958

[2021-09-07 07:19] #954 closed

[2021-12-15 04:16] bbrto21 opened #1015 "Benchmark Escargot using compression option"
Compare and analyze the performance of Escargot's compression option.

**Environments**
- Raspberry Pi 4
- Raspberry PI OS(32-bit) release 2021-10-30

**Test set**
* [octane](https://github.com/chromium/octane/tree/30b1d8d71406b2c12f1ba6bf545733be772af086)
* [kraken](https://github.com/mozilla-it/krakenbenchmark.mozilla.org)

**Target branch**
- https://github.com/Samsung/escargot/tree/compression

[2022-01-04 10:17] ksh8281 opened #1024 "Crash case"
[code]

[2022-01-05 06:05] #1024 closed

[2022-02-18 12:56] gergocs opened #1040 "make excludelist error"
- OS: ArcoLinux
- Revision [f6eeb2c](https://github.com/Samsung/escargot/commit/f6eeb2c1fc6228149233a58908854ab07d19f73c)

**Describe the bug**
Trying to update the exclude list with `make_excludelist.py` but it does not work with python2 nor python3.

With python2 the backtrace:
[code]
And the excludelist.orig.xml is empty

With python3 the backtrace:
[code]

And the end of excludelist.orig.xml i

[2022-02-28 07:39] gergocs commented on #1040
Should I update the script to python3 and make it work?

[2022-03-02 01:49] clover2123 commented on #1040
We run `make_excludelist.py` with python2 in Ubuntu environment.
I also run it now and there is no error.
Have you downloaded submodules of escargot?
`test262` (test/test262) submodule should be synced before running the test262

[2022-03-03 02:31] clover2123 commented on #1040
One more thing, have you installed `pypy` on your environment? `make_excludelist.py` internally requires `pypy` for running test262.

[2022-03-03 06:31] gergocs commented on #1040
I start debugging the code and see what it does and it turns out i gave wrong path for the engine and it didn't give me any error about it. So everything is working now. Thank you.

[2022-03-04 08:22] #1040 closed

[2022-04-05 08:26] gergocs opened #1076 "Temporal with BigInt or With Integer"
Should i implement [this](https://tc39.es/proposal-temporal/#sec-temporal-createtemporalinstant) function and other functions which are using bigint with bigint or should i use 2 integer?

The standard say it's needed to be BigInt, but BigInt is slow so I thought two integers might be faster.

[2022-04-06 02:07] clover2123 commented on #1076
1. [Assert](https://tc39.es/ecma262/#assert): [Type](https://tc39.es/ecma262/#sec-ecmascript-data-types-and-values)(epochNanoseconds) is BigInt.
    2. [Assert](https://tc39.es/ecma262/#assert): ! [IsValidEpochNanoseconds](https://tc39.es/proposal-temporal/#sec-temporal-isvalidepochnanoseconds)(epochNanoseconds) is true.
    3. If newTarget is not present, set newTarget to %Temporal.Instant%.

[2022-04-06 02:42] ksh8281 commented on #1076
IMO you should use BigInt for implement.
If you want to optimize, you can use int64_t if input number is small

[2022-04-06 05:48] gergocs commented on #1076
For example [here](https://tc39.es/proposal-temporal/#sec-temporal-isvalidepochnanoseconds). 86400 * 10^17 can't be stored in an uint64_t.

I meant using BigInt from Escargot(src/runtime/BigInt)

[2022-04-06 07:11] zherczeg commented on #1076
Bascially the question is shall we use an existing BigInt related code (simpler), or use own code (somewhat faster). Most operations are addition / subtraction, and multiply divmod with small numbers (called single digit operations). It is probably not worth to change the code later, so it is better to decide this early.

[2022-04-09 06:39] #1015 closed

[2022-04-09 06:41] bbrto21 commented on #1015
I've completed the measurement, so I close it

[2022-04-13 01:29] clover2123 commented on #1076
To sum up, you mean that for relatively small numbers, handle it with simple integer values and for other cases, handle it with BigInt following the standard, right?
This approach seems good for me, but it might be too complicated.
BTW, (I'm not sure) performance of `Temporal` feature does really matter?
If not, I think that simple implementation just with `BigInt` would be enough.

[2022-04-13 08:48] clover2123 opened #1084 "[Debugger] error in tcp send"
**Escargot (please complete the following information):**
 - OS:  Ubuntu 20.04
 - Revision d3f6ef7

**Describe the bug**

https://github.com/Samsung/escargot/blob/d3f6ef74f9e9805781503e7a5994720c72617e94/src/debugger/DebuggerTcp.cpp#L113-L123

https://github.com/Samsung/escargot/blob/d3f6ef74f9e9805781503e7a5994720c72617e94/src/debugger/DebuggerTcp.cpp#L62-L66
Assertion error happens in the above

[2022-04-13 14:24] zherczeg commented on #1084
This is probably something implementation (OS?) specific. Probably we can extend this check:
`if (result == 0 && errno != ESCARGOT_EWOULDBLOCK)`
to the following:
`if (result == 0 && (errno != ESCARGOT_EWOULDBLOCK && errno != 0))`

[2022-04-13 14:26] zherczeg commented on #1084
Btw sending a message with 0 length is usually supported by datagram sockets, but I didn't know it can be done in stream sockets as well.

[2022-04-13 14:34] zherczeg commented on #1084
Please check #1085

[2022-04-14 06:46] clover2123 commented on #1084
I'm not used to socket programming, so would you please explain more about this?

1) `zero errno` is related to message with 0 length? And this is the main reason for the error?
2) What's the purpose of `recv` call before sending a message?

[2022-04-14 07:35] zherczeg commented on #1084
1) errno = 0 represents no error (it should be). Probably some message is in the receive queue, and the network stack wants to tell this. Other implementations always return with WOULDBLOCK for length = 0.
2) When a connection is lost, the send operation has strange behavior on some OS-es (they tell the operation is successful, but it is not, or they block). Receive works even on these systems, an

[2022-04-14 07:49] clover2123 commented on #1084
@zherczeg I get it! many thanks!

[2022-04-18 08:18] #1084 closed

[2022-05-04 03:21] clover2123 opened #1096 "How vscode recognize source code"
Q1) It seems that debugger should send source code info to vscode (in remote debugger mode)
After vscode receives the source code info, vscode recognizes the source code and users can add valid breakpoints on it.
(correct me if wrong)

Is there any way to make vscode know the source code in advance,
so that users can add breakpoints just after loading the vscode tool?

`DebuggerRemote::parseComple

[2022-05-04 03:21] clover2123 commented on #1096
@zherczeg Would you please take a look at this issue?

[2022-05-04 13:49] zherczeg commented on #1096
Yes. The source is always sent since it can be generated (e.g eval) so the editor always knows the correct source code. You are right, the code should be compared to the opened files, and find a match. I will check this issue.

[2022-05-05 09:08] #1076 closed

[2022-05-10 06:28] clover2123 commented on #1096
@zherczeg How about 'pending breakpoint' approach described in Q2) above?

[2022-05-10 08:52] zherczeg commented on #1096
I have checked the code. It seems breakpoints are managed by vscode and they are all pending. Vscode even remembers them if you close and reopen the editor. The debugger needs to verify them when it receives the `setBreakPointsRequest()` message. This message is triggered by setting a breakpoint by the user or after the `InitializedEvent()` message is sent to vscode. I could not find a way to trig

[2022-05-10 10:23] zherczeg commented on #1096
One thing was when I load a new script with `load` it seems it stops at the beginning. This looks valid:
https://github.com/Samsung/escargot/blob/master/src/parser/Script.cpp#L484

I also don't see the script in the backtrace which called the `load`, but it looks like it has a separated execution state. That is also valid.

The sandbox does not give the byte code of the eval code for some reason,

[2022-05-11 06:51] clover2123 commented on #1096
I am working on a patch which tries to locate the files on the disk and also manages generated (by eval) files:

Is it possible that debugger sends a source code but extension does not create a file with the same name, which means that extension just uses the original file for debugging?

[2022-05-11 07:01] clover2123 commented on #1096
Regarding other issues in debugger,

https://github.com/Samsung/escargot/blob/master/src/parser/Script.cpp#L484

Yes, this may look redundant, so it can be modifed later if necessary.

`Script::execute` function is called in the following part
https://github.com/Samsung/escargot/blob/1763b6f38da35c2b1c9eb8404ba84c41708b99e6/src/shell/Shell.cpp#L709-L712
For each `Script::execute` call, a new `Exec

[2022-05-11 10:00] zherczeg commented on #1096
Yes. My extension patch removes the file overwriting.
https://github.com/Samsung/escargot-vscode-extension/pull/20

Vscode uses two types of source:
a) files on the disk, these files must have a valid path
b) virtual files, which has a reference number, and exists only during debugging

Normally virtual files are created for eval calls. But it is also possible, that the content of a file on the di

[2022-05-12 07:29] zherczeg commented on #1096
I made another patch which checks whether the source code of a file matches to a file on the disk, and if they do not, they appear with bold filename in vscode editor.
https://github.com/Samsung/escargot-vscode-extension/pull/21
This is not mandatory, but you can land it if you like it.

Can I help you with something else related to this problem?

[2022-05-12 08:41] clover2123 commented on #1096
@zherczeg Thanks for the quick patch!

BTW, returning back to the first issue,

let me assume a certain case where vscode already holds some pending breakpoints but debugger does not have (parse) the source code yet.
In this case, when vscode sends `setBreakPointsRequest` to the debugger, debugger could not handle it.
To deal with this error case, would it be possible that debugger remembers the r

[2022-05-12 08:51] zherczeg commented on #1096
Whenever a source code is received from Escargot, the debugger adapter tells vscode that it is "initialized" (I could not find another way for triggering a setBreakpointRequest for a single file so far) and vscode sends setBreakpointRequest for each opened file. The request contains the breakpoints in that file. The debugger tells which breakpoints are currently valid.

So the breakpoints are auto

[2022-05-12 09:28] zherczeg commented on #1096
It seems breakpoints are even working for virtual files (these are not available on the disk). When a virtual file is opened, breakpoints can be set. These breakpoints remain after Escargot exits, and virtual files are dropped. When Escargot is run again, the debug adapter can match these virtual files as well, and enable the previously enabled breakpoints there. The match is done using paths, so

[2022-05-12 10:49] clover2123 commented on #1096
I see. I'll check it with the latest extension version. Thanks :)
</br>

About virtual files, I'm wondering that how debugger could match each virtual file using path?
Virtual files created for eval calls also have valid paths? Is there any rule for setting these paths?

[2022-05-12 13:45] zherczeg commented on #1096
We can define the rules:
https://github.com/Samsung/escargot-vscode-extension/blob/master/src/EscargotProtocolHandler.ts#L550

Currently names for evals created using a counter. In my next patch this name will be assigned to the path as well. So if Escargot creates the same evals when the application is run again, they will get the same paths.

Perhaps with more sophisticated rules we could do mor

[2022-05-16 02:53] clover2123 commented on #1096
Regarding hash,
`String` object in Escargot supports simple hash function
https://github.com/Samsung/escargot/blob/786cb68d27393a14e14f19594e07137588d4873c/src/runtime/String.h#L445-L450

IMO performance is not a critical issue in debugger mode, so you can exploit the hash function without any restriction.

[2022-05-16 05:06] zherczeg commented on #1096
This is completely node/vscode side. The question is how to match a source code to a path (because path is kept by vscode, even when the editor is restarted, while the source is always dropped). Using a length-hash pair as path (e.g. `generated/eval-1234-ac760f23`) could help matching a source and a path. While it is not 100% precise, it could work well in practice.

Note: currently eval does not

[2022-05-17 10:46] clover2123 commented on #1096
@zherczeg  I'm working on incorrect eval backtrace.

BTW, it seems that chrome(v8) debugger provides source codes of eval code through virtual files
and user can allocate breakpoints on this virtual files.
Then, debugger remembers and enables these breakpoints in the next executions.
This looks  same to our goal, right?

[2022-05-17 17:23] zherczeg commented on #1096
Yes! If you like this idea, we can support it (this is not a mandatory feature, but can be useful).

[2022-05-18 05:30] clover2123 commented on #1096
@zherczeg Yes! it would be great if Escargot supports this extended debugger feature
Also, please share other debugger issues in Escargot side if exists.
I'll take care of them.

[2022-05-20 09:34] zherczeg commented on #1096
It seems evals cannot be debugged at the moment:
https://github.com/Samsung/escargot/blob/master/src/interpreter/ByteCodeGenerator.cpp#L138

I can remove this limitation if you prefer it

[2022-05-23 01:40] clover2123 commented on #1096
@zherczeg
Yes, please remove those lines to enable breakpoints for eval codes. thanks!

[2022-06-10 11:18] zherczeg commented on #693
It seems "Array find from last" is implemented:
https://github.com/Samsung/escargot/blob/master/src/builtins/BuiltinArray.cpp#L1848

I think the list could be updated with it.

[2022-06-10 11:22] zherczeg commented on #693
Is there some feature you would prefer to be implemented sooner? Temporal is currently in progress.

[2022-06-14 10:34] zherczeg commented on #1096
Yes, we can reintroduce the file creating feature again. Should it happen only for sources with parse error? Invalid sources are never executed, so I don't really understand the "uses it for debugging like before" part. It sounds more of a logging the source code feature so people can check later the parse error.

Currently relative paths are appended to `"localRoot"` in launch.json and its defaul

[2022-06-15 08:41] zherczeg commented on #1096
I have started to put a patch for this:
https://github.com/Samsung/escargot-vscode-extension/pull/24/commits/3f66d0c4472a5739d26fb4fb3d838d90c4559275

I added source notification support for vscode, but it does not open the file automatically. Anyway, the parse error is displayed in "DEBUG CONSOLE" tab with the file name of the file. If the file cannot be found, it is also saved in the source root

[2022-06-17 02:32] clover2123 commented on #1096
@zherczeg Thanks for the quick patch!
I'll first evaluate again with your patch and analyze the reason more.

[2022-06-20 08:16] clover2123 commented on #1096
@zherczeg
With a more analysis, it seems that this problem is more on the escargot side.
I put a [patch](https://github.com/Samsung/escargot/pull/1110) for this.

BTW I'm still confused about source code management in vscode.

https://github.com/Samsung/escargot/blob/2e2b6a83986be8178f9a89ccfefcb2cf6f56371b/src/debugger/Debugger.cpp#L98-L110
When Escargot sends a source code through parseCompleted

[2022-06-20 10:11] zherczeg commented on #1096
I wanted something like that, but so far I couldn't do it. When the debug adapter receives a file data, and tells vscode that it is available (using a `LoadedSourceEvent`), vscode simply accepts the fact, but it does not display the file or do anything visible. Probably vscode thinks that automatically opening files (especially when lots of file are received) would be confusing for the user. The f

[2022-06-20 10:34] zherczeg commented on #1096
Escargot is not communicating with vscode, it communicates with our debugadapter. The debugadapter receives the path using the network, and tells vscode that a file is available. The adapter also tells which breakpoints are valid (updating their state).

When a breakpoint is inserted or removed from a file, vscode sends all breakpoints corresponding to the file to the debugadapter, which tells whi

[2022-06-22 05:43] clover2123 commented on #1096
@zherczeg Thanks for your kind explanation!

Shall I try to automatically open files in other way?

opening files in vscode is not required now, so please ignore it.

[2022-06-22 06:14] zherczeg commented on #1096
Thank you. Is there any vscode request I should do now?

[2022-06-22 06:31] clover2123 commented on #1096
BTW I have some more questions, so l summarize these as a list below
* The term `debugger adaptor` means the vscode-extension for escargot, right?
* Which way does vscode actually manage and store the breakpoint info in itself?
  * vscode does not store any breakpoint info in itself, it just delivers breakpoints to the debugger adaptor when they are changed
  * Or maintain breakpoint list where ea

[2022-06-22 11:37] zherczeg commented on #1096
Yes. There are many types of extensions, this particular one is a debug-adapter.

The second, it has its own list of breakpoints, and does not care about the debug adapter. So the user can set or remove breakpoints even when the debugger is not running, and can even preserve them when the vscode editor restarts. The debug adapter can only tell if a breakpoint is valid or not.

I think this is the

[2022-06-23 11:28] clover2123 commented on #1096
@zherczeg I'm grateful for your detailed description! I figure out the overall flow of debugger and vscode, thanks to you :)

I have a few minor questions in your comment

1. So, debugger-adaptor creates a `Source` object when it first receives the source code info from escargot-debugger?
2. When creating(initializing) a Source object, how does debugger-adaptor assign the `reference number` for it

[2022-06-23 18:58] zherczeg commented on #1096
1) yes, you can see this here:
https://github.com/Samsung/escargot-vscode-extension/blob/master/src/EscargotProtocolHandler.ts#L567
The `new Source(Path.basename(str), path, sourceReference)` creates the source object.

2) yes. For non-zero values, we use the `nextScriptID` which is a counter. The debug adapter uses this id for identifying any source, and share this value with with vscode.

3) yes

[2022-06-24 08:16] clover2123 commented on #1096
@zherczeg many thanks!
It may be the last question 😅

In short we assign each breakpoint their corresponding source data:
`let bkpt: DebugProtocol.Breakpoint = { id: lineAndId[1], verified, line, source: data.source };`
This is how vscode knows where the breakpoint is "physically", and the breakpoint becomes visible in that file.

According to `handleSource` function in `EscargotDebugger.ts`,
it a

[2022-06-24 09:22] zherczeg commented on #1096
You are right. The debug adapter will create a full path from the received file (e.g. `/home/anyuser/y/z/A.js`) and this will not match to the path info of the breakpoint `/home/anyuser/x/y/z/A.js`, so the adapter cannot match the breakpoints, and the breakpoints remain not verified. From user perspective, he will see the breakpoints, but they have an empty circle, not a red dot before them.

The

[2022-06-27 04:54] clover2123 commented on #1096
I'm a bit confused with your previous [comment](https://github.com/Samsung/escargot/issues/1096#issuecomment-1162989431), because you answered like that it's possible to link breakpoint info from vscode to escargot-debugger via debugger-adaptor even for mismatching source files.

To sum up, we cannot sync breakpoints for path-mismatching files (like `A.js` example) now, right?
Currently, breakpoin

[2022-06-27 07:32] zherczeg commented on #1096
Ok, I try to explain again. This is the use case:
1) File with incorrect path info arrives, debug adapter cannot find it, assign a reference number (e.g. 5) to it.
2) Execution stops at whatever reason in the file (e.g. step command), vscode gets the source of the file from the debug adapter
3) After the source is displayed, user can set breakpoints there, vscode stores the path and line of the br

[2022-06-28 10:40] clover2123 commented on #1096
When the user restarts escargot, and the debug adapter receives a source with the same path, but with different content, it cannot detect this. So it might assign wrong breakpoints to this source.
What is the better option? Try to reassign the breakpoints after restart, or never do this?

You mean a certain situation where vscode holds the virtual file that contains old contents, but debug-adaptor

[2022-06-28 14:15] zherczeg commented on #1096
Exactly. If the debug adapter can identify the same file, and tell this to vscode, vscode accepts this. And the debug adapter can assign existing breakpoints to this file, and vscode also accepts this. The reference number is more like a pointer, a unique handle for referencing a memory string.

Exactly.

Virtual files are a confusing concept, they are simply displaying a memory string in a text e

[2022-06-29 02:34] clover2123 commented on #1096
Thanks to you, I understand the overall flow between vscode and debug-adaptor. Thanks:)

[2022-06-29 02:37] clover2123 commented on #1096
If other issues found, I'll open another github issue as this page is already filled with many comments 😅

[2022-06-29 03:50] zherczeg commented on #1096
I hope I could explain the things. It is a bit complicated.
I am closing the bug.

[2022-06-29 03:50] #1096 closed

[2022-08-26 06:15] pedrib opened #1140 "Where is escargot used?"
Just a question, out of curiosity, where is escargot used? Is it used in any real products, by Samsung or by any other party? It seems to be actively maintained, so I assume it is being used somewhere?

I like to use it for my embedded device builds and experiments.

[2022-08-26 06:17] ksh8281 commented on #1140
Recent Samsung smart tv uses this project. :)

[2022-08-26 07:33] pedrib commented on #1140
@ksh8281 thank you for your answer. I thought the Samsung Smart TVs (I have two actually!) use a Chromium based browser? At least with a test with one of mine, I got a `AppleWebKit` user-agent string.

[2022-08-26 07:35] ksh8281 commented on #1140
@pedrib It is not made for stock web browser.
This project is used by some applications

[2022-08-26 07:36] pedrib commented on #1140
Thanks again for letting me know. If you know more use cases, I'd be very curious to know more.

[2022-08-26 07:36] #1140 closed

[2022-08-30 08:05] ksh8281 opened #1142 "Object pattern parsing bug"
**Describe the bug**
Object pattern parsing bug

**Test case**
Test code to reproduce the behavior:
[code]

[2022-09-07 10:44] zherczeg commented on #1142
Perhaps this can be closed

[2022-09-07 10:59] #1142 closed

[2022-09-09 08:38] zherczeg commented on #693
I checked the "Array find from last". I also see a lot of references for realms, is that also implemented?

[2022-09-13 08:06] clover2123 commented on #693
@zherczeg
Many thanks for your contributions.
I just updated the list of stage 3 based on the latest [proposal list](https://github.com/tc39/proposals).
Please feel free to choose any blank items above.